loopback.wav
Firmware/code/stage1/analog2wav
Firmware/code/stage3/wavs2analog
Firmware/code/network_bb/server/bb_server 
Firmware/code/network_bb/tests/test_client
Firmware/code/common/tests/shared_mem_write
Firmware/code/common/tests/shared_mem_destroy
Firmware/code/common/tests/shared_mem_read
Firmware/code/stage1/mock/close_sharedmem
Firmware/code/stage1/mock/shared_mem_to_wav_file
Firmware/code/stage3/mock/dummy_wav
Firmware/.vscode/settings.json
build/

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles/
**/Makefile
**/*.wav

**/*.a
