{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save Settings</button>
    <br>
    <br>
    <button type="button">
      <a href="{% url 'download_combined' %}">Download Combined WAV File</a>
    </button>
    <br>
    <br>
    <button type="button">
      <a href="{% url 'download_drums' %}">Download Drums WAV File</a>
    </button>
    <br>
    <br>
    <button type="button">
      <a href="{% url 'download_input' %}">Download Input WAV File</a>
    </button>
  </form>
{% endblock %}
